{% load static %}
<div class="single-sidebar-widget user-info-widget">
	<img src="{% static 'img/blog/c7.png' %}" alt="" style="width: 200px; height: auto;">
	<a href="#">
		<h4>M-H-Tabatabai</h4>
	</a>
	<p>
		Python developer
	</p>
	<ul class="social-links">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-github"></i></a></li>
		<li><a href="#"><i class="fa fa-behance"></i></a></li>
	</ul>
</div>