<!DOCTYPE html>
{% load blog_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <p>{% request_MU %}</p>
        <p>{% latest %}</p>
        {% latest2 posts as result %}
        {% for post in result %}
           <p> {{post.title|slicer}} </p>
        {% endfor %}
        {{posts|slice:"0:1"}}
        <h4> popular post </h4>
        {% popularposts %}
        
</body>
</html>